<ion-grid mode="ios">
  <ion-row>
    <ion-col style="text-align: center">
      <div>
        <ion-text style="font-family: GT Walsheim Pro"
          ><h1>Log in/sign up with Google</h1></ion-text
        >
        <ion-button color="primary" clear (click)="auth.googleSignIn()">
          <ion-label style="font-family: GT Walsheim Pro;">Google</ion-label>
        </ion-button>
        <!--<ion-text><h3>or</h3></ion-text>-->
      </div>
    </ion-col>
  </ion-row>
  <!--
  <ion-row>
     LOGIN FORM 
    <ion-col style="text-align: center">
      <app-email-login></app-email-login>
    </ion-col>
    
    </ion-row>
  -->
</ion-grid>
