<ion-card
  mode="ios"
  style="padding-bottom: 10px; font-family: GT Walsheim Pro Medium"
>
  <ion-card-header>
    <ion-card-title>Todo</ion-card-title>
  </ion-card-header>
  <!-- re-order area -->
  <ion-row>
    <ion-col>
      <ion-list
        class="list"
        cdkDropList
        #firstList="cdkDropList"
        [cdkDropListData]="todos"
        [cdkDropListConnectedTo]="[secondList]"
        (cdkDropListDropped)="drop($event)"
      >
        <ion-item
          class="item"
          *ngFor="let task of todos"
          cdkDrag
          lines="none"
          ion-button
          style="font-family: GT Walsheim Pro"
          ><ion-icon
            cdkDragHandle
            name="ellipsis-vertical-outline"
            style="margin-left: -10px; cursor: pointer"
          ></ion-icon>
          <ion-input
            value="{{ task.todo }}"
            style="font-family: GT Walsheim Pro"
          ></ion-input>
          <ion-icon
            button
            (click)="deleteItem(task)"
            name="close-outline"
            slot="end"
            style="cursor: pointer"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-card-content>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button
        (click)="todoAppend()"
        mode="ios"
        color="light"
        size="small"
        translucent="true"
        style="margin-bottom: -8px; margin-left: 15px"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card-content>
</ion-card>
<!-- BACKBURNER -->
<!-- BACKBURNER -->
<!-- BACKBURNER -->
<ion-card mode="ios" style="padding-bottom: 10px">
  <ion-card-header>
    <ion-card-title>Backburner</ion-card-title>
  </ion-card-header>
  <!-- re-order area -->
  <ion-row>
    <ion-col>
      <ion-list
        class="list"
        cdkDropList
        #secondList="cdkDropList"
        [cdkDropListData]="backburner"
        [cdkDropListConnectedTo]="[firstList]"
        (cdkDropListDropped)="drop($event)"
      >
        <ion-item
          class="item"
          *ngFor="let task of backburner"
          cdkDrag
          lines="none"
          ion-button
          style="font-family: GT Walsheim Pro"
        >
          <ion-icon
            cdkDragHandle
            name="ellipsis-vertical-outline"
            style="margin-left: -10px; cursor: pointer"
          ></ion-icon>
          <ion-input
            value="{{ task }}"
            style="font-family: GT Walsheim Pro"
          ></ion-input>
          <ion-icon
            button
            (click)="deleteItem(task)"
            name="close-outline"
            slot="end"
            style="cursor: pointer"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col> </ion-row
  ><ion-card-content>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button
        (click)="backburnerAppend()"
        mode="ios"
        color="light"
        size="small"
        translucent="true"
        style="margin-bottom: -8px; margin-left: 15px"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card-content>
</ion-card>
