<ion-card
  mode="ios"
  style="padding-bottom: 10px; font-family: GT Walsheim Pro Medium"
>
  <ion-card-header>
    <ion-card-title>Todo</ion-card-title>
  </ion-card-header>
  <!-- re-order area -->
  <ion-row>
    <ion-col>
      <ion-list
        class="list"
        cdkDropList
        #firstList="cdkDropList"
        [cdkDropListData]="todos"
        [cdkDropListConnectedTo]="[secondList]"
        (cdkDropListDropped)="drop($event, 'todo')"
      >
        <ion-item
          class="item"
          *ngFor="let task of todos; let index = index; trackBy: trackByIndex"
          cdkDrag
          lines="none"
          style="font-family: GT Walsheim Pro"
          ><ion-icon
            cdkDragHandle
            name="ellipsis-vertical-outline"
            style="margin-left: -10px; cursor: pointer"
          ></ion-icon>
          <ion-input
            debounced-input
            (ionFocus)="todoFocus()"
            (ngModelChange)="updateTodo($event, task)"
            [(ngModel)]="todos[index].todo"
            style="font-family: GT Walsheim Pro"
          ></ion-input>
          <ion-icon
            name="checkbox-outline"
            slot="end"
            style="cursor: pointer"
          ></ion-icon>
          <ion-icon
            button
            (click)="deleteTodo(task)"
            name="close-outline"
            slot="end"
            style="cursor: pointer"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-card-content>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button
        (click)="todoAppend()"
        mode="ios"
        color="light"
        size="small"
        translucent="true"
        style="margin-bottom: -8px; margin-left: 15px"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card-content>
</ion-card>
<!-- BACKBURNER -->
<!-- BACKBURNER -->
<!-- BACKBURNER -->
<ion-card mode="ios" style="padding-bottom: 10px">
  <ion-card-header>
    <ion-card-title>Backburner</ion-card-title>
  </ion-card-header>
  <!-- re-order area -->
  <ion-row>
    <ion-col>
      <ion-list
        class="list"
        cdkDropList
        #secondList="cdkDropList"
        [cdkDropListData]="backburners"
        [cdkDropListConnectedTo]="[firstList]"
        (cdkDropListDropped)="drop($event, 'backburner')"
      >
        <ion-item
          class="item"
          *ngFor="
            let task of backburners;
            let index = index;
            trackBy: trackByIndex
          "
          cdkDrag
          lines="none"
          style="font-family: GT Walsheim Pro"
        >
          <ion-icon
            cdkDragHandle
            name="ellipsis-vertical-outline"
            style="margin-left: -10px; cursor: pointer"
          ></ion-icon>
          <ion-input
            id="todoInput"
            (ionFocus)="backburnerFocus()"
            (ngModelChange)="updateBackburner($event, task)"
            [(ngModel)]="backburners[index].backburner"
            style="font-family: GT Walsheim Pro"
          ></ion-input>
          <ion-icon
            name="checkbox-outline"
            slot="end"
            style="cursor: pointer"
          ></ion-icon>
          <ion-icon
            button
            (click)="deleteBackburner(task)"
            name="close-outline"
            slot="end"
            style="cursor: pointer"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col> </ion-row
  ><ion-card-content>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button
        (click)="backburnerAppend()"
        mode="ios"
        color="light"
        size="small"
        translucent="true"
        style="margin-bottom: -8px; margin-left: 15px"
      >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card-content>
</ion-card>
