<ion-card mode="ios" style="padding-bottom: 10px;">
  <ion-card-header>
    <ion-card-title>Todo</ion-card-title>
  </ion-card-header>
  <!-- re-order area -->
  <ion-row>
    <ion-col>
      <ion-list
        cdkDropList
        #firstList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[secondList]"
        (cdkDropListDropped)="drop($event)"
      >
        <ion-item *ngFor="let task of todo" cdkDrag lines="none">
          <ion-input value="{{task}}"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-card>
<!-- BACKBURNER -->
<!-- BACKBURNER -->
<!-- BACKBURNER -->
<ion-card mode="ios" style="padding-bottom: 10px;">
  <ion-card-header>
    <ion-card-title>Backburner</ion-card-title>
  </ion-card-header>
  <!-- re-order area -->
  <ion-row>
    <ion-col>
      <ion-list
        cdkDropList
        #secondList="cdkDropList"
        [cdkDropListData]="backburner"
        [cdkDropListConnectedTo]="[firstList]"
        (cdkDropListDropped)="drop($event)"
      >
        <ion-item *ngFor="let task of backburner" cdkDrag lines="none">
          <ion-input value="{{task}}"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-card>
