<ion-card mode="ios">
  <ion-card-header>
    <ion-text style="font-family: GT Walsheim Pro">{{ mitDate }}</ion-text>
    <ion-card-title>
      <ion-input
        *ngIf="mit"
        debounced-input
        id="mitInput"
        [(ngModel)]="mit"
        placeholder="Enter your MIT here"
        (input)="saveMit($event.target)"
        style="font-family: GT Walsheim Pro Medium"
      >
      </ion-input>
      <ion-skeleton-text
        *ngIf="!mit"
        animated
        style="width: 100%; height: 30px"
      ></ion-skeleton-text>
    </ion-card-title>
  </ion-card-header>
  <!-- 
  <ion-card-content> </ion-card-content>
  -->
</ion-card>
