<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          name="person"
          color="dark"
          style="padding-right: 6px"
        ></ion-icon>

        <ion-text
          button
          color="dark"
          style="font-family: GT Walsheim Pro"
          (click)="auth.signOut()"
          >Log Out</ion-text
        >
      </ion-button>
    </ion-buttons>
    <ion-title style="font-family: GT Walsheim Pro"> Function </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-gradient">
  <!-- Putting in the components -->
  <div class="todo-container">
    <app-mit></app-mit>
    <app-todo></app-todo>
  </div>
</ion-content>
