<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person" style="padding-right: 6px;"></ion-icon>
        Log Out
      </ion-button>
    </ion-buttons>
    <ion-title>
      Function
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding background-gradinet"
  style="
    --background: rgb(40, 31, 195);
    --background: linear-gradient(
      27deg,
      rgba(40, 31, 195, 1) 0%,
      rgba(103, 103, 167, 1) 48%,
      rgba(192, 230, 237, 1) 100%
    );
  "
>
  <!-- adding in the date block -->

  <!-- Putting in the components -->
  <div style="max-width: 40%; margin: auto;">
    <app-mit></app-mit>
    <app-todo></app-todo>
  </div>
</ion-content>
