<ion-header mode="ios">
  <ion-toolbar>
    <ion-item lines="none" slot="end">
      <ion-label class="inter">Stats for nerds</ion-label>
      <ion-toggle
        [checked]="statsToggle"
        [(ngModel)]="statsToggle"
      ></ion-toggle>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          name="person"
          color="dark"
          style="padding-right: 6px"
        ></ion-icon>

        <ion-text class="inter" button color="dark" (click)="auth.signOut()"
          >Log Out</ion-text
        >
      </ion-button>
    </ion-buttons>
    <ion-title class="inter"> Function </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-gradient">
  <!-- Putting in the components -->
  <div class="todo-container">
    <app-mit></app-mit>
    <app-todo></app-todo>
    <app-stats [stats]="statsToggle"></app-stats>
  </div>
</ion-content>
