#container {
  text-align: center;
  position: relative;
  top: 50%;
}

.background-gradient {
  --background: rgb(40, 31, 195);
  --background: linear-gradient(
    27deg,
    rgba(40, 31, 195, 1) 0%,
    rgba(103, 103, 167, 1) 48%,
    rgba(192, 230, 237, 1) 100%
  );
}
